<h1>Hello! Welcome to the Parallel Parking System's Dashboard!</h1>
<hr>
<p>Current Cars in Garage: <span id="js-current-cars">{{currentCars}}</span></p>
<p>Total Car Throughput Last Hour: <span id="js-one-hour-throughput"></span></p>