<h1>Per-Node System Overview</h1>
<hr>

<div id="total" class="graph"></div>
<select name="time-selector" id="time-selector">
    <option value="7">This week</option>
    <option value="31">This month</option>
    <option value="90">Last 90 days</option>
</select>

<script src="/static/js/d3.js"></script>
<script src="/static/js/c3.js"></script>
<script src="/static/shared/shared.js"></script>
<script src="/static/js/cache.js"></script>
<script src="/static/js/per-node.js"></script>