 <a href="/" class="button">Go Back</a>
 <form action="/updateCarCount">
  Current Cars In Garage:<br>
  <input type="number" name="cars" value={{current}}><br>
  <input type="submit" value="Submit">
</form> 