<h1>Whole System Overview</h1>
<hr>
<a href="/" class="button">Go Back</a>
<h2>Garage Utilization</h2>
<div id="total-over-time" class="graph"></div>
<select name="total-time-selector" id="total-selector">
    <option value="1">Yesterday (30 minute intervals)</option>
    <option value="4">Last 4 days (2 hour interval)</option>
    <option value="7">This week (4 hour interval)</option>
    <option value="30">Last 30 days (8 hour interval)</option>
</select>

<h2>Throughput Of Cars</h2>
<div id="throughput-over-time" class="graph"></div>
<select name="throughput-time-selector" id="throughput-selector">
    <option value="7">This week</option>
    <option value="31">This month</option>
    <option value="90">Last 90 days</option>
</select>

<script src="/static/js/d3.js"></script>
<script src="/static/js/c3.js"></script>
<script src="/static/shared/shared.js"></script>
<script src="/static/js/cache.js"></script>
<script src="/static/js/whole.js"></script>