<h1>Whole System Overview</h1>
<hr>

<div id="total-over-time" class="graph"></div>
<div id="throughput-over-time" class="graph"></div>

<script src="/js/d3.js"></script>
<script src="/js/c3.js"></script>
<script src="/js/whole.js"></script>