<h1>Whole System Overview</h1>
<hr>

<div id="total-over-time" class="graph"></div>
<div id="throughput-over-time" class="graph"></div>

<link rel="stylesheet" href="/stylesheets/c3.css">

<script src="/javascript/d3.js"></script>
<script src="/javascript/c3.js"></script>
<script src="/javascript/whole.js"></script>