<h1>Whole System Overview</h1>
<hr>

<div id="total-over-time" class="graph"></div>
<select name="total-time-selector" id="total-selector">
    <option value="1">Today</option>
    <option value="x">This week</option>
</select>

<div id="throughput-over-time" class="graph"></div>
<select name="throughput-time-selector" id="throughput-selector">
    <option value="1">Today</option>
    <option value="7">This week</option>
    <option value="31">This month</option>
</select>

<script src="/static/js/d3.js"></script>
<script src="/static/js/c3.js"></script>
<script src="/static/shared/shared.js"></script>
<script src="/static/js/cache.js"></script>
<script src="/static/js/whole.js"></script>